@import "hugo:vars";
@import "bootstrap/mixins";

@import "variables";

.homepage-hero-image {
  height: 30rem;
  width: 100%;
  display: block;
  background: url(/images/hero-image-50.webp);
  background-size: cover;
  max-width: $max-screen-width-size;
  margin: auto;
  border-radius: 6px 6px 0 0;
}

@include color-mode(dark) {
  .homepage-hero-image {
    box-shadow: none !important;
  }
}

.homepage-team-photo {
  background: url(/images/krita-team-donation.webp);
  height: 30rem;
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-bottom: 0.5rem;
  max-width: $max-screen-width-size;
}

.homepage-hero-content {
  background: var(--body-background-color);
  padding: 2rem;
  margin: 1rem;
  max-width: 24rem;
  position: relative;
  top: 6rem;
  right: 4rem;
  box-shadow: 3px 3px 4px rgba(70, 68, 96, .70);
  float: right;

  @media only screen and (max-width: $mobile-breakpoint) {
    right: auto;
    display: block;
    top: 0;

  }
}

@include color-mode(dark) {
  .homepage-hero-content {
    box-shadow: none;
  }
}

.homepage-card {
  background: #eafaff;
  background: var(--homepage-card-gradient);
  margin-bottom: 1rem;
  border: 1px solid var(--body-background-color-alternate);

  & h3 {
    margin-top: 0;
  }

  & p {
    padding: 0;
    margin-bottom: 1rem;
    display: block;
  }

  & a {
    margin: 0;
  }

  & .hero-image {
    min-height: 22rem;
    background-size: cover;
    background-position: center;
  }

  & .credit {
    color: white;
    text-shadow: black;
    position: relative;
    top: 87%;
    text-shadow: 0px 0px 15px black;
  }

  & .credit a {
    color: white;
    --link-color: white;
    text-decoration: none;
    margin: 0;
  }

  & .credit a:hover {
    text-decoration: underline;
  }

  & .content {
    padding: 3rem;
  }
}

.download-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
