<header id="KGlobalHeader" class="header clearfix">
  <a class="visually-hidden" href="#main">{{ i18n "skip-to-content" }}</a>
  <nav class="navbar navbar-expand-lg">
    <a class="app-logo navbar-brand" href="{{ "/" | relLangURL }}">
      <img class="krita-logo" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      {{- partial "navbar_nav.html" . -}}
    </div>
  </nav>
</header>
